.add {
  position: relative;
  height: 28px;
  border-bottom: 1px solid #dbdbdb;

  .box {
    color: #dae4eb;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 8px;
    top: 1px;
    cursor: pointer;
    display: inline;
  }

  input{
    top: 7px;
    left: 44px;
    width: 280px;
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 11px;
    font-weight: normal;
    color: #2e3641;
    border: none;

    &:focus{
      outline: none;
    }
  }

  i{
    font-size: 16px;
    float: right;
    margin: 6px 10px 6px 0;
    color: rgb(240, 52, 0);
    animation: animate infinite alternate 2s;
    @keyframes animate {
      from{ opacity: 0.2 }
      to{ opacity: 0.6 }
    }

    &:nth-child(even){
      margin-right: 3px;
    }

    &.hidden{
      visibility: hidden;
      width: 0;
    }
  }
}
