input[type="checkbox"]{
  display: none;
}

.box{
  position: relative;
  top: 11px;
  left: 10px;
  -moz-transform: translateY(15px);
}

.box label {
  position: relative;

}
.box span::before,
.box span::after {
  content: '';
  position: absolute;
  margin: auto;
}
.box span.checkbox::before {
  width: 8px;
  height: 8px;
  background-color: #f8fafb;
  box-sizing: border-box;
  border: 1px solid #dae4eb;
  transition: all .3s;
}
.box span.checkbox:hover::before {
  background-color: darken(#f8fafb, 5%);

}
.box span.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 6px;
  color: transparent;
  left: 1px;
  top: 1px;
  transition: color .5s;
}
input[type="checkbox"]:checked + label span.checkbox::after {
  color: #a8bd44;
}