.item{
  position: relative;
  height: 28px;
  border-bottom: 1px solid #dbdbdb;
  @import "checkbox";

  h3{
    top: 7px;
    left: 44px;
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 11px;
    font-weight: normal;
    color: #2e3641;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;

    &.done{
      color: #9eb2c0;

      &::after{
        content: "";
        float: left;
        position: relative;
        width: 100%;
        border-bottom: solid #9eb2c0;
        top: -6px;
      }
    }
  }

  .delete{
    background: url('/trash.png') no-repeat;
    height: 12px;
    width: 11px;
    position: absolute;
    right: 12px;
    top: 8px;
    float: right;
    cursor: pointer;
    transition: all .3s;

    &:hover{
      transform: scale(1.15);
    }

    &.done{
      opacity: 0.2;
    }
  }

}