@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import"reset";

body{
  background-color: #e9f0f4;
  font-family: 'Lato', sans-serif;
}

.container{
  background-color: #fff;
  position: relative;
  width: 370px;
  margin: 100px auto;
  @import "add";


  .top-bar{
    background-color: #2e3641;
    color: #dae4eb;
    padding: 12px 44px;
    font-size: 11px;
    font-weight: bold;
  }

  .double-line{
    border-color: rgba(240, 52, 0, 0.08);
    border-width: 0 1px;
    border-style: solid;
    height: 100%;
    width: 3px;
    left: 28px;
    position: absolute;
    float: left;
  }

  .content{
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 0 1px 0 1px;

    @import"item";
  }
}

